<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if page == 'preview' %}
            <!-- <meta http-equiv="refresh" content="7"> -->
        {% endif %}

        {% if page == 'login' %}
            <link rel="stylesheet" href="{% static 'styles/style_login.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'styles/style.css' %}">
        {% endif %}

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>
        {% if page != 'login' %}
            {% include 'navbar.html' %}
        {% endif %}

        {% if messages %}
        
        <ul class="messages">
        
            {% for message in messages %}
        
            <li>
                {{ message }}
            </li>
        
            {% endfor %}
        
        </ul>
        {% endif %}

        {% block content %}

        {% endblock %}
        
        {% if page == 'input-admin' %}
            <script src="{% static 'js/script.js' %}"></script>
        {% elif page == 'preview' %}
            <script src="{% static 'js/script1.js' %}"></script>
        {% endif %}

    </body>

</html>